# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "main" ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - uses: isbang/compose-action@v1.5.1
      with:
        compose-file: "./docker/docker-compose.yml"

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: "1.23"

    - name: Test
      run: make test
